
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/favicon.png">
    <title>Auxilia - @ViewData["Title"]</title>
    @RenderSection("Csses", required: false)

</head>
<body data-ma-theme="orange">

@RenderBody()

<script src="~/js/jquery.min.js"></script>

@RenderSection("Scripts", required: false)


</body>
</html>
